@model webapp_stufv.Models.Event
@section content{
<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<div class="eventpage">
    <div class="row">
        <div class="col-lg-2"><img class="eventimg" src="~/Content/img/party.png" /></div>
        <div class="col-lg-8">
            <table class="eventshort">
                <tbody>
                    <tr>
                        <td>
                            <h3>
                                @Model.Name
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (Model.EntranceFee == 0)
                            {
                                <p class="pclear"><img class="iconimg" src="~/Content/img/euro.png" />Gratis</p>
                            }
                            else {
                                <p class="pclear"><img class="iconimg" src="~/Content/img/euro.png" />@Model.EntranceFee euro</p>
                            }
                        </td>
                    </tr>
                    @if (Model.AlcoholFree)
    {
                        <tr>
                            <td>
                                <p class="pclear">
                                    <img class="iconimg" src="~/Content/img/pint.png" />Dit evenement is alcohol vrij.
                                </p>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <img class="iconimg" src="~/Content/img/Calendar.png" />@Model.Start.ToShortDateString()
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="iconimg" src="~/Content/img/Calendar.png" />Start: @Model.Start.ToShortTimeString()
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="iconimg" src="~/Content/img/Calendar.png" />Einde: @Model.End.ToShortTimeString()
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="pclear"><img class="iconimg" src="~/Content/img/Location.png" />@Model.Street, @Model.ZipCode [CITY PLACEHOLDER]</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="desciption">
                            <p class="pclear"><img class="iconimg" src="~/Content/img/info.png" />@Model.Description</p>
                        </td>
                    </tr>
                    @if (Session["email"] == null || Session["email"].Equals(""))
                    {
                        //Login
                    }
                    else {
                        <tr>
                            <td>
                                <a href="@Url.Action("Attend", "Events", new { id = Model.Id })">
                                    <p class="btn btn-info">Aanwezig</p>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

        }

