@model Tuple<webapp_stufv.Models.Event, webapp_stufv.Models.DesDriver, string>
@section content{
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="eventpage">
        <div class="row">
            <div class="col-lg-2"><img class="eventimg" src="~/Content/img/party.png" /></div>
            <div class="col-lg-8">
                <table class="eventshort">
                    <tbody>
                        <tr>
                            <td>
                                <h3>
                                    @Model.Item1.Name
                                </h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @if (Model.Item1.EntranceFee == 0)
                                {
                                    <p class="pclear"><img class="iconimg" src="~/Content/img/euro.png" />Gratis</p>
                                }
                                else {
                                    <p class="pclear"><img class="iconimg" src="~/Content/img/euro.png" />@Model.Item1.EntranceFee euro</p>
                                }
                            </td>
                        </tr>
                        @if (Model.Item1.AlcoholFree)
    {
                            <tr>
                                <td>
                                    <p class="pclear">
                                        <img class="iconimg" src="~/Content/img/pint.png" />Dit evenement is alcohol vrij.
                                    </p>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <img class="iconimg" src="~/Content/img/Calendar.png" />@Model.Item1.Start.ToShortDateString()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="iconimg" src="~/Content/img/Calendar.png" />Start: @Model.Item1.Start.ToShortTimeString()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="iconimg" src="~/Content/img/Calendar.png" />Einde: @Model.Item1.End.ToShortTimeString()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="pclear"><img class="iconimg" src="~/Content/img/Location.png" />@Model.Item1.Street, @Model.Item1.ZipCode @Model.Item3</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="desciption">
                                <p class="pclear"><img class="iconimg" src="~/Content/img/info.png" />@Model.Item1.Description</p>
                            </td>
                        </tr>
                        @if (Session["email"] == null || Session["email"].Equals(""))
                        {
                            //Login
                        }
                        else {
                            if (ViewBag.attend)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("RemoveAttend", "Events", new { id = Model.Item1.Id })">
                                            <p class="btn btn-warning">Niet aanwezig</p>
                                        </a>
                                    </td>
                                </tr>
                                <tr>

                                    @if (ViewBag.isbob)
                                    {
                                        <td>
                                            <a href="@Url.Action("RemoveBob", "Events", new { id = Model.Item1.Id })">
                                                <p class="btn btn-warning">Ik wil geen BOB meer zijn.</p>
                                            </a>
                                        </td>
                                    }
                                    else {
                                        <td>
                                            <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#becomebob">Word BOB</button>
                                            <div id="becomebob" class="collapse">
                                                <div class="col-md-8">
                                                    <section id="loginForm">
                                                        @using (Html.BeginForm("BobProcess/" + Model.Item1.Id, "Events", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label" for="NrOfPlaces">Hoeveel vrije plaatsen: </label>
                                                                <div class="col-md-9">
                                                                    @Html.TextBoxFor(m => Model.Item2.NrOfPlaces, new { @class = "form-control" })
                                                                    @Html.ValidationMessageFor(m => Model.Item2.NrOfPlaces, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-md-offset-3 col-md-9">
                                                                    <input type="submit" value="Registreer" class="btn btn-default" />
                                                                </div>
                                                            </div>
                                                        }
                                                    </section>
                                                </div>

                                            </div> <br />
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <a href="@Url.Action("FindBob", "Events", new { id = Model.Item1.Id })">
                                            <p class="btn btn-success">Vind BOB</p>
                                        </a>
                                    </td>
                                </tr>
                            }
                            else {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("Attend", "Events", new { id = Model.Item1.Id })">
                                            <p class="btn btn-info">Aanwezig</p>
                                        </a>
                                    </td>
                                </tr>
                            }


                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}