@model IEnumerable<webapp_stufv.Models.Event>
@section content{
    <div class="container">
        <div class="page-header">
            <div class="well">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Filter</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Alcoholvrij <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href=@Url.Action("AlcoholFree", "Events", new {value = "yes"})>Ja</a></li>
                                <li><a href=@Url.Action("AlcoholFree", "Events", new { value = "no" })>Nee</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href=@Url.Action("AlcoholFree", "Events", new { value = "neutral" })>Maakt niet uit</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Sorteren <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href=@Url.Action("Sort", "Events", new {value = "atoz"})>Naam: 'a' naar 'z' </a></li>
                                <li><a href=@Url.Action("Sort", "Events", new { value = "ztoa" })>Naam: 'z' naar 'a'</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href=@Url.Action("Sort", "Events", new { value = "entranceasc" })>Inkom oplopend</a></li>
                                <li><a href=@Url.Action("Sort", "Events", new { value = "entrancedesc" })>Inkom aflopend</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search" method="post" action=@Url.Action("filterZipCode", "Events")>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Postcode" name="Zipcode" id="Zipcode">
                        </div>
                        <button type="submit" class="btn btn-default">Zoek</button>
                    </form>
                    <form class="navbar-form navbar-left" role="search" method="post" action=@Url.Action("filterName", "Events")>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Zoekterm" name="Name" id="Name">
                        </div>
                        <button type="submit" class="btn btn-default">Zoek</button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        @foreach ( var item in Model ) {
            <div class="eventpage">
                <div class="row">
                    <div class="col-lg-2"><img class="eventimg" src="~/Content/img/EventImages/@item.Image" /></div>
                    <div class="col-lg-8">
                        <table class="eventshort">
                            <tbody>
                                <tr>
                                    <td>
                                        <h4>
                                            @item.Name
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="shortdesciption">
                                        @if ( item.Description.Length > 500 ) {
                                            <p class="pclear"><img class="iconimg" src="~/Content/img/info.png" />@item.Description.Substring( 0, 500 )...</p>
                                        } else {
                                            <p class="pclear"><img class="iconimg" src="~/Content/img/info.png" />@item.Description</p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img class="iconimg" src="~/Content/img/Calendar.png" />@item.Start.ToShortDateString( )
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @if ( item.EntranceFee == 0 ) {
                                            <p><img class="iconimg" src="~/Content/img/euro.png" />Gratis</p>
                                        } else {
                                            <p><img class="iconimg" src="~/Content/img/euro.png" />@item.EntranceFee euro</p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="@Url.Action("Details","Events", new { id = item.Id})">
                                            <p class="btn btn-info">Meer info</p>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>

}

