@model IEnumerable<webapp_stufv.Models.Event>
@section content{
<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
        @foreach (var item in Model)
    {
            <div class="eventpage">
                <div class="row">
                    <div class="col-lg-2"><img class="eventimg" src="~/Content/img/party.png" /></div>
                    <div class="col-lg-8">
                        <table class="eventshort">
                            <tbody>
                                <tr>
                                    <td>
                                        <h4>
                                            @item.Name
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="shortdesciption">
                                        @if (item.Description.Length > 500)
                                        {
                                            <p class="pclear"><img class="iconimg" src="~/Content/img/info.png" />@item.Description.Substring(0, 500)...</p>
                                        }
                                        else {
                                            <p class="pclear"><img class="iconimg" src="~/Content/img/info.png" />@item.Description</p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img class="iconimg" src="~/Content/img/Calendar.png" />@item.Start.ToShortDateString()
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @if (item.EntranceFee == 0)
                                        {
                                            <p><img class="iconimg" src="~/Content/img/euro.png" />Gratis</p>
                                        }
                                        else {
                                            <p><img class="iconimg" src="~/Content/img/euro.png" />@item.EntranceFee euro</p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="@Url.Action("Details","Events", new { id = item.Id})">
                                            <p class="btn btn-info">Meer info</p>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }

        }

