@model IEnumerable<webapp_stufv.Models.Event>
@section content{
<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
        @foreach (var item in Model)
    {
            <table class="" style="border: 1px solid black; margin-bottom: 5px;">
                <tbody>
                    <tr>
                        <td><a href="#"><h4>
                            @Html.ActionLink(item.Name, "Details", new {id=item.Id})</h4></a></td>
                    </tr>
                    <tr>
                        <td>@item.Description</td>
                    </tr>
                    <tr>
                        <td>Inkom: @item.EntranceFee</td>
                    </tr>
                    <tr>
                        <td>@item.AlcoholFree</td>
                    </tr>
                </tbody>
            </table>
        }

        }

