@model IEnumerable<webapp_stufv.Models.Event>
@section content{
<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
        @foreach (var item in Model)
    {
            <table class="">
                <tbody>
                    <tr>
                        <td><a href="#"><h4>
                            @Html.ActionLink(item.Name, "Event", "Events")</h4></a></td>
                    </tr>
                    <tr>
                        <td>@item.Description</td>
                    </tr>
                    <tr>
                        <td>@item.Street</td>
                    </tr>
                    <tr>
                        <td>@item.ZipCode</td>
                    </tr>
                    <tr>
                        <td>@item.Start</td>
                        <td>@item.End</td>
                        <td>@item.EntranceFee</td>
                        <td>@item.AlcoholFree</td>
                    </tr>
                </tbody>
            </table>
        }

        }

