@section content {

<div class="col-md-4" style="margin-top: 20px">
    <div class="panel panel-primary" style="margin: 0">
        <div class="panel-heading" style="height: 50px; background-color: #4061C4">
            <h3 style="text-align: center; margin-top: 0px;">Artikelen</h3>
        </div>    
        @foreach (var item in ViewBag.Articles)
        {
            <div class="panel panel-primary" style="margin-bottom: 0px">
                <div class="panel-heading">
                    <table>
                        <tr>
                            <th style="width: 400px; color: white">
                                <p>@item.Title</p>
                            </th>
                            <th style="color: white">
                                <p>@item.DateTime.ToShortDateString()</p>
                            </th>
                        </tr>
                    </table>        
                </div>
                <div class="panel-body">
                    @item.Content
                </div>
            </div>
        }
    </div>
</div>
<div class="col-md-8" style="margin-top: 20px">
    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color: #4061C4">
            <table style="width: 850px; height: 20px">
                <tr>
                    <th colspan="5"><h3 style="text-align: center; margin-top: 0px; color: white">Opkomende evenementen</h3></th>
                </tr>
                <tr>
                    <th style="color: white"; width="400px">Naam</th>
                    <th style="color: white"; width="140px">Datum</th>
                    <th style="color: white"; width="100px">Prijs</th>
                    <th style="color: white"; width="30px">Alcohol</th>
                    <th>&nbsp</th>
                </tr>
            </table>           
        </div>
        @foreach (var item in ViewBag.Events)
        {
            <div class="panel-body" style="padding: 7px">
                <table style="width: 850px; height: 10px;">
                    <tr>
                        <td style="width: 400px"><p>@item.Name</p></td>
                        <td style="width: 140px"><p>@item.Start.ToShortDateString()</p></td>
                        <td style="width: 125px">
                            @if (item.EntranceFee == 0)
                            {
                                <p>Gratis</p>
                            }
                            else
                            {
                                <p>@item.EntranceFee euro</p>
                            }
                        </td>
                        <td style="width: 120px">
                            @if (item.AlcoholFree == true)
                            {
                                <img src="~/Content/img/kruisje.jpg" style="width: 25px; height: 25px" />
                            }
                            else
                            {
                                <img src="~/Content/img/vinkje.png" style="width: 25px; height: 25px" />
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Details","Events", new { id = item.Id})">
                                <p>Bekijk</p>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>
}
