@model webapp_stufv.Models.User

@section content{
    <div class="container">

        <div class="page-header">
            <div class="well">
                <h1>
                    @Model.FirstName @Model.LastName
                </h1>
            </div>
        </div>
        <div class="label-info">@ViewBag.Desc</div>
        <div class="row profile">
            @using (Html.BeginForm("ChangeSettings", "Settings", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { name = "changeform", enctype = "multipart/form-data", id = "changeform", @class = "form-horizontal", role = "form" }))
            {
                <div class="col-md-3">
                    <img class="profileimg" src="~/Content/img/ProfilePictures/@Model.ProfilePicture" />
                    <input type="file" name="file" id="file" style="width: 100%;" />
                </div>
                <div class="col-md-9">
                    <div class="row form-group">
                        <div class="col-md-2 control-label">Email adres: </div>
                        <div class="col-md-5">
                            <input class="form-control" id="Email" name="Email" type="text" value="@Model.Email" readonly>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2 control-label">Voornaam: </div>
                        <div class="col-md-5">
                            <input class="form-control" id="FirstName" name="FirstName" type="text" value="@Model.FirstName" readonly>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2 control-label">Achternaam: </div>
                        <div class="col-md-5">
                            <input class="form-control" id="LastName" name="LastName" type="text" value="@Model.LastName" readonly>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2 control-label">Geboortedatum: </div>
                        <div class="col-md-5">
                            <input class="form-control" id="BirthDate" name="BirthDate" type="text" value="@Model.BirthDate.ToLongDateString()" readonly>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2 control-label">Straat: </div>
                        <div class="col-md-5" id="streetvalidation">
                            <input class="form-control" id="Steet" name="Street" type="text" value="@Model.Street">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2 control-label">Postcode: </div>
                        <div class="col-md-5" id="zipcodevalidation">
                            <input class="form-control" id="ZipCode" name="ZipCode" type="text" value="@Model.ZipCode">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2 control-label">GSM nummer: </div>
                        <div class="col-md-5" id="mobilenrvalidation">
                            <input class="form-control" id="MobileNr" name="MobileNr" type="text" value="@Model.MobileNr">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2 control-label">Telefoon nummer: </div>
                        <div class="col-md-5" id="telnrvalidation">
                            <input class="form-control" id="TelNr" name="TelNr" type="text" value="@Model.TelNr">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2 col-lg-offset-2">
                            <input type="submit" class="btn btn-info" value="Opslaan" onclick="return ValidateChange()" />
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#changepassword">Verander Wachtwoord</button>
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-2 col-lg-offset-4">
                <button class="btn btn-danger" data-toggle="modal" data-target="#modaldeactivate">
                    Verwijder Account
                </button>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-3 col-md-9">
                    <div id="changepassword" class="collapse">
                     @using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { name = "passform", enctype = "multipart/form-data", id = "passform", @class = "form-horizontal", role = "form" }))
                     {
                        <div class="row form-group">
                            <div class="col-md-2 control-label">Oud passwoord: </div>
                            <div class="col-md-5" id="oldpassvalidation">
                                <input class="form-control" id="OldPass" name="OldPass" type="password">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2 control-label">Nieuw passwoord: </div>
                            <div class="col-md-5" id="newpassvalidation">
                                <input class="form-control" id="NewPass" name="NewPass" type="password">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2 control-label">Nieuw passwoord: </div>
                            <div class="col-md-5" id="againpassvalidation">
                                <input class="form-control" id="AgainPassword" name="AgainPassword" type="password">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2 col-lg-offset-2">
                                <input type="submit" class="btn btn-info" value="Opslaan" onclick="return ValidatePass()" />
                            </div>
                        </div>
                            }
                        </div> <br />
                </div>
            </div>
        </div>
    <script>
        function ValidatePass() {
            var oldpass = IsEmpty("#oldpassvalidation", document.passform.OldPass);
            var newpass = ValidateRegPass();
            if (oldpass && newpass) {
                return true;
            }
            return false;
        }
        function ValidateRegPass() {
            var inputText = document.passform.NewPass;
            var inputText2 = document.passform.AgainPassword;
            if (inputText.value == "") {
                $('#newpassvalidation').attr("class", "col-md-5 has-error");
                return false;
            } else if (inputText2.value == "") {
                $('#againpassvalidation').attr("class", "col-md-5 has-error");
                return false;
            } else if (inputText.value == inputText2.value) {
                $('#newpassvalidation').attr("class", "col-md-5 has-success");
                $('#againpassvalidation').attr("class", "col-md-5 has-success");
                return true;
            } else {
                $('#newpassvalidation').attr("class", "col-md-5 has-error");
                $('#againpassvalidation').attr("class", "col-md-5 has-error");
                return false;
            }
        }
        function ValidateChange() {
            var street = IsEmpty("#streetvalidation", document.changeform.Street);
            var zipcode = IsEmpty("#zipcodevalidation", document.changeform.ZipCode);
            var telnr = IsEmpty("#telnrvalidation", document.changeform.TelNr);
            var mobilenr = IsEmpty("#mobilenrvalidation", document.changeform.MobileNr);
            if (street && zipcode && telnr && mobilenr) {
                return true;
            } else {
                return false;
            }
        }
        function IsEmpty(id, text) {
            if (text.value == "") {
                $(id).attr("class", "col-md-5 has-error");
                return false;
            } else {
                $(id).attr("class", "col-md-5 has-success");
                return true;
            }
        }
    </script>
}

