@model webapp_stufv.Models.User
@section Content {

    <div class="container">

        <div class="page-header">
            <div class="well">
                <h1> Registratie </h1>
            </div>
            <h4> Vul je gegevens in. </h4>
        </div>
        @using ( Html.BeginForm( "CreateAccount", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { name = "registerform", id = "registerform", @class = "form-horizontal", role = "form" } ) ) {
            @Html.AntiForgeryToken( )
            <div class="form-group">
                <div class="col-md-2 control-label">Email adres: </div>
                <div class="col-md-10" id="emailValidation">
                    @Html.TextBoxFor( m => m.Email, new { @class = "form-control" } )
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">Wachtwoord: </div>
                <div class="col-md-10" id="Passwordvalidation">
                    @Html.PasswordFor( m => m.PassWord, new { @class = "form-control" } )
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">Controle wachtwoord: </div>
                <div class="col-md-10" id="CheckpassValidation">
                    <input class="form-control" id="CheckPass" name="CheckPass" type="password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">Voornaam: </div>
                <div class="col-md-10" id="namevalidation">
                    @Html.TextBoxFor( m => m.FirstName, new { @class = "form-control" } )
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">Achternaam: </div>
                <div class="col-md-10" id="lastnamevalidation">
                    @Html.TextBoxFor( m => m.LastName, new { @class = "form-control" } )
                </div>
            </div>
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="../../Content/js/bootstrap-datetimepicker.min.js"></script>
            <link href="../../Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
            <div class="form-group">
                <div class="col-md-2 control-label">Geboortedatum: </div>
                <div class="col-md-10" id="birthdatevalidation">
                    <div class="input-append date form_datetime">
                        <input class="form-control" id="BirthDate" name="BirthDate" size="16" type="text" value="" readonly>
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>

                    <script type="text/javascript">
                        $(".form_datetime").datetimepicker({
                            language: 'nl',
                            format: "dd MM yyyy",
                            autoclose: true,
                            minView: 2
                        });
                    </script>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">Geboorteplaats: </div>
                <div class="col-md-10" id="birthplacevalidation">
                    @Html.EditorFor( m => m.BirthPlace, new { htmlAttributes = new { @class = "form-control" } } )
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">Geslacht: </div>
                <div class="col-md-10" id="sexvalidation">
                    <table>
                        <tr>
                            <td>
                                @Html.RadioButtonFor( m => m.Sex, "M", new { htmlAttributes = new { @class = "radio" } } )
                                @Html.Label( "Man" )
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.RadioButtonFor( m => m.Sex, "V", new { htmlAttributes = new { @class = "radio" } } )
                                @Html.Label( "Vrouw" )
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">Straat en huisnummer: </div>
                <div class="col-md-10" id="streetvalidation">
                    @Html.EditorFor( m => m.Street, new { htmlAttributes = new { @class = "form-control" } } )
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">Postcode: </div>
                <div class="col-md-10" id="zipcodevalidation">
                    @Html.EditorFor( m => m.ZipCode, new { htmlAttributes = new { @class = "form-control" } } )
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">Telefoon nummer: </div>
                <div class="col-md-10" id="telnrvalidation">
                    @Html.EditorFor( m => m.TelNr, new { htmlAttributes = new { @class = "form-control" } } )
                </div>
            </div>
                    <div class="form-group">
                        <div class="col-md-2 control-label">GSM nummer: </div>
                        <div class="col-md-10" id="mobilenrvalidation">
                            @Html.EditorFor( m => m.MobileNr, new { htmlAttributes = new { @class = "form-control" } } )
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-info" value="Registreer" onclick="return ValidateReg()" />
                        </div>
                    </div>
        }

    </div>
}




