@model webapp_stufv.Models.User
@section Content {
    @using ( Html.BeginForm ( "CreateAccount", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" } ) ) {
        @Html.AntiForgeryToken( )
        <h4>Creëer een nieuw account.</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-2 control-label">Email adres: </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">wachtwoord: </div>
            <div class="col-md-10">
                @Html.PasswordFor(m => m.PassWord, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">Voornaam: </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">Achternaam: </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src = "../../Content/js/bootstrap-datetimepicker.min.js" ></script>
        <link href = "../../Content/bootstrap-datetimepicker.min.css" rel = "stylesheet" />
        <div class="form-group">
            <div class="col-md-2 control-label">Geboortedatum: </div>
            <div class="col-md-10">
                <div class="input-append date form_datetime">
                    <input class="form-control" id="BirthDate" name="BirthDate" size="16" type="text" value="" readonly>
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>

                <script type="text/javascript">
    $(".form_datetime").datetimepicker({
        language: 'nl',
        format: "dd MM yyyy",
        autoclose: true,
        minView: 2
    });
                </script> 
            </div>
            </div>
                    <div class="form-group">
                        <div class="col-md-2 control-label">Geboorteplaats: </div>
                        <div class="col-md-10">
                            @Html.EditorFor(m => m.BirthPlace, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 control-label">Geslacht: </div>
                        <div class="col-md-10">
                            <table>
                                <tr>
                                    <td>
                                        @Html.RadioButtonFor(m => m.Sex, "M", new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.Label("Man")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.RadioButtonFor(m => m.Sex, "V", new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.Label("Vrouw")
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 control-label">Postcode: </div>
                        <div class="col-md-10">
                            @Html.EditorFor(m => m.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 control-label">Telefoon nummer: </div>
                        <div class="col-md-10">
                            @Html.EditorFor(m => m.TelNr, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 control-label">GSM nummer: </div>
                        <div class="col-md-10">
                            @Html.EditorFor(m => m.MobileNr, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }
}




