@model webapp_stufv.Models.Event
@section Content {

    <div class="page-header"><h1>@ViewBag.Title</h1></div>
@ViewBag.Description
<div class="row">
    <div class="col-md-8">
        <button type="button" class="btn-success" data-toggle="collapse" data-target="#NewEvent">Maak een event</button>
        <div id="NewEvent" class="collapse">
            @using (Html.BeginForm("NewEvent", "Organisation", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-3 control-label">Naam van het evenement</div>
                    <div class="col-md-5">@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">Beschijving</div>
                    <div class="col-md-5">@Html.TextAreaFor(m => m.Description, new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">Start Tijd</div>
                    <div class="col-md-5">@Html.TextBoxFor(m => m.Start, new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">Stop Tijd</div>
                    <div class="col-md-5">@Html.TextBoxFor(m => m.End, new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">Straat</div>
                    <div class="col-md-5">@Html.TextBoxFor(m => m.Street, new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">Postcode</div>
                    <div class="col-md-5">@Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">Type</div>
                    <div class="col-md-5">@Html.TextBoxFor(m => m.Type, new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">Inkom prijs</div>
                    <div class="col-md-5">@Html.TextBoxFor(m => m.EntranceFee, new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">Alcohol Vrij?</div>
                    <div class="col-md-5">@Html.TextBoxFor(m => m.AlcoholFree, new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-5">
                        <input type="submit" class="btn btn-success" value="Maak evenement" />
                    </div>
                </div>
            }
        </div> <br />
    </div>
</div>

}
