@model Tuple<IEnumerable<webapp_stufv.Models.Event>, webapp_stufv.Models.Organisation>
@section Content {

    <div class="page-header"><h1>@ViewBag.Title</h1></div>
@ViewBag.Description
@if ((int)Session["organisation"] == 2) {
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h4> Mijn evenementen </h4>
        </div>
        @if ( Model.Item1.Count ( ) == 0 ) {
            <div class="alert alert-warning"> U heeft nog geen evenementen aangemaakt. </div>
        } else {
            <div class="list-group">
                @foreach ( var item in Model.Item1 ) {
                    <a class="list-group-item" href=@Url.Action( "Details", "Events", new { id = item.Id } )> 
                        <p class="list-group-item-heading"> @item.Name </p>
                        <p class="list-group-item-text"> @item.Description.Substring(0, @item.Description.Length/2)... </p>
                    </a>
                }
            </div>
        }
    </div>
    <div class="col-md-6">
        <button type="button" class="btn-success" data-toggle="collapse" data-target="#NewEvent">Maak een event</button>
        <div id="NewEvent" class="collapse">
            @using (Html.BeginForm("NewEvent", "Organisation", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-3 control-label">Naam van het evenement</div>
                    <div class="col-md-5"> <input type="text" id="Name" name="Name" placeholder="Naam van het event" class="form-control"/> </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">Beschijving</div>
                    <div class="col-md-5"><input type="text" id="Description" name="Description" placeholder="Beschrijving van het event" class="form-control"/> </div>
                </div>
                <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
                <script src="../../Content/js/bootstrap-datetimepicker.min.js"></script>
                <link href="../../Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
                <div class="form-group">
                    <div class="col-md-3 control-label">Start tijd </div>
                    <div class="col-md-5">
                        <div class="input-append date form_datetime">
                            <input class="form-control" id="Start" name="Start" size="16" type="text" value="" readonly>
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                        </div>
                        <script type="text/javascript">
                            $(".form_datetime").datetimepicker({ format: 'yyyy-mm-dd hh:ii' });
                        </script>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 control-label">Stop tijd </div>
                        <div class="col-md-5">
                            <div class="input-append date form_datetime">
                                <input class="form-control" id="End" name="End" size="16" type="text" value="" readonly>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(".form_datetime").datetimepicker({ format: 'yyyy-mm-dd hh:ii' });
                        </script>
                    </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">Straat</div>
                    <div class="col-md-5"><input type="text" id="Street" name="Street" placeholder="Straat" class="form-control"/></div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">Postcode</div>
                    <div class="col-md-5"><input type="text" id="Zipcode" name="Zipcode" placeholder="Postcode" class="form-control"/></div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">Type</div>
                    <div class="col-md-5"><input type="text" id="Type" name="Type" placeholder="Type" class="form-control"/></div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">Inkom prijs</div>
                    <div class="col-md-5"><input type="text" id="EntranceFee" name="EntranceFee" placeholder="Inkom" class="form-control"/></div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">Alcohol Vrij?</div>
                    <div class="col-md-5"><input type="text" id="AlcoholFree" name="AlcoholFree" placeholder="Alcoholvrij" class="form-control"/></div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-5">
                        <input type="submit" class="btn btn-success" value="Maak evenement" />
                    </div>
                </div>
            }
        </div> <br />
    </div>
</div>
}

}
