@RenderBody( )
@Styles.Render( "~/Content/css" )

<!DOCTYPE html>
<html lang="en">

<head>

    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/LoginIndex.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <title>@ViewBag.Tite</title>

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        @Html.ActionLink("STUFV", "Index", "Home")
                    </a>
                </li>
                <li>
                    <a href="#">Evenementen</a>
                </li>
                <li>
                    @Html.ActionLink("Richtlijnen", "Index", "Guidelines")
                </li>
                <li>
                    <a href="#">Nieuws</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">Instellingen</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Aansprakelijkheid</a>
                </li>
                <li class="logout">
                    <a href="#">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            @RenderSection("content", required: false)
        </div>
        <!-- /#page-content-wrapper -->

        <div class="footer">
            <div class="container">
                <p class="text-muted">Property of STUFV 2016 &copy;</p>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
