@RenderBody( )
@Styles.Render( "~/Content/css" )
<!DOCTYPE html>
<html lang="nl-be">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="~/Content/Global.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/LoginIndex.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <title>@ViewBag.Tite</title>

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a href="#menu-toggle" id="menu-toggle"><div id="smartMenu"><div class="line"></div><div class="line"></div><div class="line"></div></div></a>
            </div>
            <ul class="sidebar-nav">
                <li id="siteName">
                    @Html.ActionLink("STUFV", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink( "Evenementen", "Index", "Events" )
                </li>
                <li>
                    @Html.ActionLink("Richtlijnen", "Index", "Guidelines")
                </li>
                <li>
                    <a href="#">Nieuws</a>
                </li>
                <li>
                    @Html.ActionLink("FAQ", "Index", "FAQ")
                </li>
                <li>
                    <a href="#">Instellingen</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Aansprakelijkheid</a>
                </li>
                <li class="login">
                    @Html.ActionLink("Aanmelden", "Index", "Login")
                </li>
                <li class="logout">
                    <a href="#">Afmelden</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            @RenderSection("content", required: false)
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <div class="footer">
        <p class="text-muted">Property of STUFV 2016 &copy;</p>
    </div>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
